.buttons {
  display: flex;
  justify-content: space-between;
}
.button{
  border: none;
  border-radius: 0.5em;
  padding: 1em 2em;
  width: 9em;
  color: #fff;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
  &:hover{
    opacity: 85%;
  }
}
.backButton {
  border: none;
  padding: 1em 2em 1em 0;
  background-color: transparent;
  color: hsl(231, 11%, 63%);
  font-weight: 700;
  font-size: 1em;
  cursor: pointer;
  &:hover{
    color: hsl(213, 96%, 18%);
  }
}
.nextButton {
  background-color: hsl(213, 96%, 18%);
}
.confirm{
  background-color: hsl(243, 100%, 62%);
}

@media (max-width: 375px) {
  .buttons{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    padding: 1em;

  }
  
}