@import '../../variables.scss';
.main{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__header{
        margin-bottom: 2em;
    }
}
@media (max-width: $mobile-breakpoint) {
    .main{
        &__header{
            margin-bottom: 1.5em;
        }
    }
}