.checkout {
    color: hsl(213, 96%, 18%);
  &__body {
    padding: 1.25em;
    border-radius: 0.5em;
    background-color: hsl(217, 100%, 97%);
  }
  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    
    &_border{
      border-bottom: 1px solid hsl(229, 24%, 87%);
      padding-bottom: 1.25em;
    }
  }
  &__plan {
    text-transform: capitalize;
  }
  &__changeBtn{
    color: hsl(231, 11%, 63%);
    font-weight: 400;
    padding-top: 0.25em;
  }
  &__addons{
    margin-top: 1.25em;
  }
  &__total {
    padding: 1.25em;
  }
}
.addons {
  display: flex;
  flex-direction: column;
  gap: 1.25em;

  &__item {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    color: hsl(231, 11%, 63%);
  }
}
.total{
    display: flex;
    justify-content: space-between;
    color: hsl(231, 11%, 63%);
    &__price{
        font-weight: 500;
        color: hsl(243, 100%, 62%);
    }
}