
.title{
    font-size: 2.25em;
    font-weight: 700;
    color: hsl(213, 96%, 18%);
    padding-bottom: .25em;
}
.description{
    color: hsl(231, 11%, 63%);
    font-size: 1em;
    line-height: 1.4;
}

@media (max-width: 375px) {
    .title{
        font-size: 1.5em;
        padding-bottom: 1rem;
    }
    .description{
        font-size: 1em;
    }
}