.sidebar{
    background-image: url('../../images/bg-sidebar-desktop.svg');
    background-size: cover;
    border-radius: .5em;
    height: 34em;
    padding: 2em;
    margin: 1em;
}
.item{
    display: flex;
    align-items: center;
    gap: .8em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 2em;
    &__number{
        border-radius: 50%;
        border: 1px solid #fff;
        width: 1em;
        height: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
    }
    &__title{
        font-weight: 700;
        font-size: .85em;

    }
    &__subtitle{
        color:hsl(229, 24%, 87%);
        font-size: 0.75em;
        margin-bottom: .25em;
    }
}
