@import '../../variables.scss';
.plansList {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin-bottom: 2em;
}
.plan {
  padding: 1em;
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 0.5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3em;
  cursor: pointer;
  input {
    display: none;
  }
  &:hover {
    border-color: hsl(243, 100%, 62%);
  }
  &_active {
    background-color: hsl(231, 100%, 99%);
    border-color: hsl(243, 100%, 62%);
  }
  &__wrapper {
    width: 100%;
  }
  &__img {
    width: 40px;
    height: 40px;
    img {
      width: 100%;
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &__title {
    font-weight: 500;
    color: hsl(213, 96%, 18%);
    text-transform: capitalize;
  }
  &__price {
    color: hsl(231, 11%, 63%);
    font-size: 0.9em;
  }
  &__discount {
    display: none;
    &_visible {
      display: block;
      color: hsl(213, 96%, 18%);
      font-size: 0.75em;
      font-weight: 500;
    }
  }
}
.term {
  background-color: hsl(231, 100%, 99%);
  width: 100%;
  padding: 1em;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  color: hsl(213, 96%, 18%);
  font-weight: 500;
  font-size: 1em;

  &__switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
  }

  &__checkbox {
    display: none;
  }
  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(213, 96%, 18%);
    border-radius: 15px;
    &::before {
      position: absolute;
      content: "";
      border-radius: 50%;
      height: 14px;
      width: 14px;
      left: 7px;
      bottom: 5px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
  }
  &__checkbox:checked + &__slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
  }
}
@media (max-width: $mobile-breakpoint) {
  .plansList{
    flex-direction: column;
  }
  .plan{
    flex-direction: row;
    justify-content: flex-start;

    gap: 1em;
  }
}