
.layoutWrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 100%, 97%);
}
.layout{
    padding: 1em;
    background-color: #fff;
    border-radius: 1em;
    display: flex;
    max-width: 850px;
    width: 100%;
    &__sidebar{
        width: 35%;
    }
}
main{
    padding: 2em 5em;
    max-width: 100%;
}
.title{
    font-size: 28px;
    font-weight: 700;
    color: hsl(213, 96%, 18%);
    padding-bottom: .25em;
}
.subtitle{
    color: hsl(231, 11%, 63%);
}
ul{

    input{
        display: block;
        padding: 1em;
        margin-top: 1em;
        border-radius: .5em;
        border: 1px solid hsl(229, 24%, 87%);
        width: 100%;
    }
}
.list{
    margin-top: 2em;
}
.listItem{
    margin-bottom: 1em;
}
