.finish{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    &__body{
        text-align: center;
    }
    &__title{
        font-size: 2em;
        font-weight: 700;
        color: hsl(213, 96%, 18%);
        padding-bottom: .25em;
    }
    &__description{
        color: hsl(231, 11%, 63%);
        line-height: 1.7;
    }
    &__icon{
        width: 70px;
        display: inline-block;
        margin-bottom: 1em;
        img{
            width: 100%;
        }
    }
}
@media (max-width: 375px) {
    .finish{
        &__icon{
            width: 55px;
        }
        &__title{
            font-size: 1.5em;
        }
        &__description{
            font-size: .95em;
        }
    }
    
}